*.class
out/
target/
*.iml
.idea/
.DS_Store
*.log
*.jar
*.war
*.ear

*.md
!ch/tbz/gino_goncalo/M4_Gonçalo/README.md

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg

ch/tbz/gino_goncalo/M4_Gonçalo/context/
ch/tbz/gino_goncalo/M4_Gonçalo/screenshots/
**/screenshots/
**/context/
